              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#chat-bot">
                      Chat-bot
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#django">
                      Django
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#storage">
                      Storage
                    </a>
                  </li>
		  <li>
                    <a href="/categories.html#server">
                      Server
                    </a>
                  </li>
		  <li>
                    <a href="/categories.html#docker">
                      Docker
                    </a>
                  </li>
		  <li>
                    <a href="/categories.html#git">
                      Git
                    </a>
                  </li>
		  <li>
                    <a href="/categories.html#nodejs">
                      NodeJS
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#java">
                      Java
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#database">
                      Database
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#python">
                      Python
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#network">
                      Network
                    </a>
                  </li>
		  <li>
                    <a href="/categories.html#kubernetes">
                      Kubernetes
                    </a>
                  </li>
		  <li>
                    <a href="/categories.html#aws">
                      AWS
                    </a>
                  </li>
		  <li>
                    <a href="/categories.html#others">
                      Others
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
